.hero {
    margin: auto;
    padding: 4rem;
    color: var(--dark-slate-blue);
    display: flex;
    flex-direction: row;

    .hero-text {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;

        h1 {
            font-size: 4rem;
            width: 30vw;

            span {
                color: var(--sunset-orange);
            }
        }

        .text {
            font-size: 1.2rem;
            width: 40rem;
            background-color: rgb(174, 208, 225, 0.8);
            padding: 2rem;
            color: var(--charcoal-blue);
            font-weight: 500;
            border-radius: 1rem;
        }

        .btns {
            display: flex;
            text-align: center;
            gap: 2rem;
            padding: 1rem;
        }
    }

    .carousel {
        flex: 1;
    }
}